{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="box-card" style="width: 400px; left:37%;" >
<!--    <h6>fill the form</h6>-->
            <button id="addBook" class="btn btn-dark"><h5>fill the form</h5></button>

          </div>


<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
<!--            <h3>Bank Account Form</h3>-->
<!--            <p class="blue-text">Just answer a few questions<br> so that we can personalize the right experience for you.</p>-->
            <div class="form-card" style="top: 20%;">
<!--                <h5 class="text-center mb-4">Powering world-class companies</h5>-->
                <div class="form-popup">
                <form class="form-container" id="popUpForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Name<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Date of Birth<span class="text-danger"> *</span></label>
                            <input type="date" class="form-control" id="dob" name="dob" required>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Age<span class="text-danger"> *</span></label>
                            <input type="number" class="form-control" id="age" name="age" required>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Gender<span class="text-danger"> *</span></label>
                            <select class="form-control" id="gender" name="gender" required>
                                <option value="">Select Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Phone Number<span class="text-danger"> *</span></label>
                            <input type="tel" class="form-control" id="phone" name="phone" required>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Mail ID<span class="text-danger"> *</span></label>
                            <input type="email" class="form-control" id="mail" name="mail" required>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Address<span class="text-danger"> *</span></label>
                            <textarea class="form-control" id="address" name="address" rows="3" required></textarea>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">District<span class="text-danger"> *</span></label>
                            <select class="form-control" id="district" name="district" required>
                                <option value="">Select District</option>

                                {% for i in districts %}
                                      <option value="{{i.id}}">{{i.name}}</option>
                                {% endfor %}


                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Branch<span class="text-danger"> *</span></label>
                            <select class="form-control" id="branch" name="branch" required>
                                <option value="">Select Branch</option>
                                <!-- Add options for branches dynamically based on the selected district if needed -->
                            </select>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Account Type<span class="text-danger"> *</span></label>
                            <select class="form-control" id="accountType" name="accountType" required>
                                <option value="">Select Account Type</option>
                                <option value="savings">Savings Account</option>
                                <option value="current">Current Account</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                    </div>




<div class="row justify-content-between text-left">
  <div class="form-group col-sm-6 flex-column d-flex">
    <label class="form-control-label px-3">MATERIALS PROVIDE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="debitCard" name="materials" value="debitCard">
      <label class="form-check-label" for="debitCard">Debit Card&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="creditCard" name="materials" value="creditCard">
      <label class="form-check-label" for="creditCard">Credit Card&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="chequeBook" name="materials" value="chequeBook">
      <label class="form-check-label" for="chequeBook">Cheque Book&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    </div>
    <!-- Add more materials options as needed -->
    </div>
    <br><br> <div class="form-group col-sm-6 flex-column d-flex">
                            <br><br><button type="submit" id="showPopup" name="submit" class="btn btn-primary">Submit</button>
                        </div>

  </div>

<!--                    <div class="row justify-content-between text-left">-->
<!--                            <div class="form-group col-12 flex-column d-flex"> <button type="submit" class="btn-block btn-primary">SUBMIT</button> </div>-->
<!--                        </div>-->

<!--                       <div class="row justify-content-between text-left">-->
<!--                        <div class="form-group col-sm-6 flex-column d-flex">-->
<!--                            <button type="submit" id="showPopup" name="submit" class="btn btn-primary">Submit</button>-->
<!--                        </div>-->
<!--                        <div class="form-group col-sm-6 flex-column d-flex">-->
<!--                            <button type="submit" class="btn btn-primary">Logout</button>-->
<!--                        </div>-->
<!--                    </div>-->




  </form>
<!--                    <div class="form-group col-sm-6 flex-column d-flex" >-->

<!--                        <a href="{% url 'logout' %}" > <button type="button"  class="btn btn-secondary btn-lg btn-block">Logout</button></a>-->
<!--                        </div>-->


            </div>
                </div>
</div>
</div>
</div>

  <div class="pop-card" id="myDiv" style="width: 400px; height:110px; padding:30px; position:absolute; top: 13%; margin:auto; left:37%; background: #191919; text-align:center; transition:0.25s; ">
<!--      <div class="pop"  style="display:block;">-->
         {% for msg in messages %}
      <h5><b>{{msg}}</b></h5>
         {% endfor %}

      <div class="row justify-content-between text-left">
          <div class="form-group col-sm-6 flex-column d-flex">
     <a href="{% url 'bankapp:index' %}"><button id="popUpCard" class="btn btn-success" >HOME</button></a>
<!--      </div>-->
          </div>
          <div class="form-group col-sm-6 flex-column d-flex">
              <a href="{% url 'logout' %}" > <button type="button"  class="btn btn-danger">Logout</button></a>
          </div>


  </div>




    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="{% static 'js/dependant.js' %}"></script>

    <script src="{% static 'js/scripts.js' %}"></script>
<!--    <script src="{% static 'js/scripts1.js' %}"></script>-->

{% endblock %}
