
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
   <div class="card" >

<form class="box" method="post" action="register">
     {% csrf_token %}
    <h1>sign up</h1>
    <p class="text-muted"> registration form</p><br>
    <input type="text" name="username" placeholder="Username"><br>
    <input type="password" name="password" placeholder="Password"><br>

    <input  type="password" name="password1" placeholder="Confirm Password">
    <input type="submit">
</form>
       <div class="fixed-bottom" style="text-align: center;">
             {% for msg in messages %}
               <h1>{{msg}}</h1>
                {% endfor %}
       </div>
  </div>
    </div>

{% endblock %}